@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius-square: 50%;
  --border-radius-pill: 9999px;
  --border-radius: 8px;
  --space-xsmall: 0.33rem;
  --space-small: 0.66rem;
  --space-medium: 1rem;
  --space-large: 2rem;
  --space-xlarge: 4rem;
  --font-body-family: Cormorant, serif;
  --font-body-style: normal;
  --font-body-weight: 400;
  --font-body-size: 16px;
  --font-body-text-transform: unset;
  --font-body-letter-spacing: 0;
  --font-heading-family: Cormorant, serif;
  --font-heading-style: normal;
  --font-heading-weight: 400;
  --font-heading-base-size: 3.2rem;
  --font-heading-text-transform: none;
  --font-heading-letter-spacing: 0;
  --font-heading-size-large: var(--font-heading-base-size);
  --font-heading-size-medium: calc(var(--font-heading-base-size) * 0.8);
  --font-heading-size-small: calc(var(--font-heading-base-size) * 0.6);
  --font-heading-size-xsmall: 1.3rem;
  --font-heading-line-height: 1.15;
  --font-copy-size-large: 1.25rem;
  --font-copy-size-small: 0.9rem;
  --font-copy-size-xsmall: 0.775rem;
  --font-copy-size-xxsmall: 0.7rem;
  --font-copy-line-height: 1.5;
  --font-accent-family: "Quattrocento Sans", sans-serif;
  --font-accent-style: normal;
  --font-accent-weight: 400;
  --font-accent-text-transform: uppercase;
  --font-accent-letter-spacing: 0.05em;
  --font-accent-line-height: 1.1;
  --font-accent-base-size: 0.85rem;
  --font-button-family: var(--font-body-family);
  --font-button-letter-spacing: var(--font-body-letter-spacing);
  --font-button-text-transform: var(--font-body-text-transform);
  --font-button-size: 1rem;
  --product-image-aspect-ratio: 0.75;
  --product-image-aspect-ratio-fallback-padding-top: 133.33%;
  --border-color-opacity: 0.25;
  --color-border: #dddddd;
  --color-background-raw: 60, 18%, 97%;
  --color-foreground-raw: 60, 1%, 19%;
  --color-primary-raw: 60, 1%, 19%;
  --color-secondary-raw: 60, 1%, 19%;
  --color-tertiary-raw: 40, 8%, 62%;
  --color-quaternary-raw: 60, 1%, 19%;
  --color-quinary-raw: 40, 8%, 62%;
  --color-senary-raw: 40, 8%, 62%;
  --color-primary-contrast-raw: 0, 0%, 100%;
  --color-secondary-contrast-raw: 0, 0%, 100%;
  --color-tertiary-contrast-raw: 0, 0%, 100%;
  --color-quaternary-contrast-raw: 0, 0%, 100%;
  --color-quinary-contrast-raw: 120, 2%, 11%;
  --color-senary-contrast-raw: 120, 2%, 11%;
  --color-site-header-bg: #f8f8f5;
  --color-site-header-border: #dddddd;
  --color-nav-text: #1c1d1c;
  --color-nav-text-raw: 120, 2%, 11%;
  --color-site-footer-bg: #f8f8f5;
  --color-site-footer-text-raw: 60, 1%, 19%;
  --color-site-footer-text: #313130;
  --color-site-footer-border: #dddddd;
  --color-badge-default: #dddddd;
  --color-sale-badge-bg: #ca663f;
  --color-sale-badge-text: #ffffff;
  --color-sold-out-badge-bg: #ececec;
  --color-sold-out-badge-text: #434543;
  --color-coming-soon-badge-bg: #e9ece0;
  --color-coming-soon-badge-text: #000000;
  --color-new-badge-bg: #edd8d0;
  --color-new-badge-text: #1c1d1c;
  --color-foreground: hsl(var(--color-foreground-raw));
  --color-background: hsl(var(--color-background-raw));
  --color-image-placeholder: linear-gradient(
    335deg,
    rgba(248, 248, 245, 1) 14%,
    rgba(224, 232, 234, 1) 100%
  );
  --color-primary: hsl(var(--color-primary-raw));
  --color-secondary: hsl(var(--color-secondary-raw));
  --color-tertiary: hsl(var(--color-tertiary-raw));
  --color-quaternary: hsl(var(--color-quaternary-raw));
  --color-quinary: hsl(var(--color-quinary-raw));
  --color-senary: hsl(var(--color-senary-raw));
  --color-primary-contrast: hsl(var(--color-primary-contrast-raw));
  --color-secondary-contrast: hsl(var(--color-secondary-contrast-raw));
  --color-tertiary-contrast: hsl(var(--color-tertiary-contrast-raw));
  --color-quaternary-contrast: hsl(var(--color-quaternary-contrast-raw));
  --color-quinary-contrast: hsl(var(--color-quinary-contrast-raw));
  --color-senary-contrast: hsl(var(--color-senary-contrast-raw));
  --color-box-shadow: hsla(var(--color-foreground-raw), 0.15);
  --color-overlay: hsla(var(--color-senary-raw), 0.7);
  --color-default: var(--color-background);
  --color-inverse: var(--color-foreground);
  --color-discount-bg: hsla(var(--color-foreground-raw), 0.07);
  --border-size--thick: 2px;
  --border-size--thin: 1px;
  --border--thin: var(--border-size--thin) solid var(--color-border);
  --border--thick: var(--border-size--thick) solid var(--color-border);
  --border-radius-arch: 120px;
  --box-shadow--bottom: 0 12px 20px -15px var(--color-box-shadow);
  --box-shadow--all-sides: 0 0 20px var(--color-box-shadow);
  --box-shadow--all-sides-small: 0 0 10px var(--color-box-shadow);
  --space-drawer-sides: var(--space-medium);
  --space-viewport-sides: var(--space-large);
  --space-grid-gap: var(--space-large);
  --scrollbar-width: 0px;
  --container-max-width-copy: 45rem;
  --container-width-form: 38ch;
  --container-width-large: 62rem;
  --container-width-medium: 40rem;
  --container-width-small: 24rem;
  --drawer-width: 400px;
  --page-width: 100rem;
  --drawer-header-height: 4rem;
  --pointer-element-min-height: 44px;
  --button-tag-height: calc(var(--pointer-element-min-height) * 0.75);
  --site-header-min-height: 6rem;
  --site-header-height: var(--site-header-min-height);
  --link-underline-offset: 0.25em;
  --transition-duration: 200ms;
  --transition-duration-long: 500ms;
  --transition-timing-function: ease;
  --z-index-hidden: -1;
  --z-index-background: 0;
  --z-index-base: 1;
  --z-index-overlay: 2;
  --z-index-overlay-interaction: 3;
  --z-index-slideshow-interaction: 5;
  --z-index-header-under-freeze: 10;
  --z-index-site-footer: 90;
  --z-index-pop-up-open: 92;
  --z-index-pop-up-overlay: 93;
  --z-index-newsletter-modal: 95;
  --z-index-product-quick-add: 100;
  --z-index-site-header: 110;
  --z-index-site-header-heading: 111;
  --z-index-announcement-bar: 111;
  --z-index-skip-to-content-link: 115;
  --z-index-search-on-mobile: 120;
  --z-index-freeze-overlay: 195;
  --z-index-drawer: 200;
  --z-index-modal-overlay: 249;
  --z-index-modal: 250;
  --z-index-age-verifier: 300;
}

.slick-slider, .slick-list, .slick-track {
  height: 100%;
}

.element--border-top-right-arch {
  border-top-right-radius: var(--border-radius-arch);
  padding-right: calc(var(--border-radius-arch) / 2);
}
.banner__content--transparent-bg .banner__box.content-box--text-align-left,
.banner__content--background-video .banner__box.content-box--text-align-left,
.banner__box.content-box--text-align-left.color--bg-default {
  margin-right: 0;
}
.banner__content .banner__box.content-box--text-align-left {
  margin-right: var(--space-viewport-sides);
}
.animate--step-in.animate--loaded {
  --animation-duration: 0.5s;
  --input-duration: calc(var(--animation-duration) * 0.5);
}
.content-box--text-align-left {
  text-align: left;
}
.element--border-top-right-arch {
  border-top-right-radius: var(--border-radius-arch);
  padding-right: calc(var(--border-radius-arch) / 2);
}
/*  */
.animate--fade-in,
.animate--step-in,
.animate--step-in .animate__step-container > * {
  animation: animateFadeInUp var(--animation-duration)
    var(--transition-timing-function) forwards;
  /* opacity: 0; */
}
.banner__box {
  color: black;
  max-width: 48%;
  min-width: 25%;
  padding: var(--space-large);
}

.space--gap--medium {
  gap: var(--space-medium);
}
.flex--column {
  flex-direction: column;
}
.flex {
  display: flex;
}
.banner__image {
  height: 100dvh;
  object-fit: cover;
  width: 100%;
}
.banner__image1 {
  filter: brightness(50%);
}
.content-box__buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--space-small);
  width: 100%;
}
.button--secondary,
.shopify-payment-button__button--unbranded {
  --button-background-color: var(--color-secondary);
  --button-background-color-raw: var(--color-secondary-raw);
  --button-foreground-color: var(--color-secondary-contrast);
  --button-foreground-color-raw: var(--color-secondary-contrast-raw);
}
a {
  margin: 0;
  touch-action: manipulation;
}
.button,
.shopify-challenge__button,
#shopify-product-reviews .spr-summary-actions-newreview {
  --button-background-color: var(--color-primary);
  --button-background-color-raw: var(--color-primary-raw);
  --button-foreground-color: var(--color-primary-contrast);
  --button-foreground-color-raw: var(--color-primary-contrast-raw);
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-background-color);
  border: var(--border-size--thick) solid transparent;
  border-radius: var(--border-radius-pill);
  color: var(--button-foreground-color);
  cursor: pointer;
  display: flex;
  fill: currentColor;
  font-family: var(--font-button-family);
  font-size: var(--font-button-size);
  font-weight: 700;
  justify-content: center;
  min-height: var(--pointer-element-min-height);
  height: auto;
  letter-spacing: var(--font-button-letter-spacing);
  line-height: 1.1;
  padding: var(--space-small) var(--space-large);
  text-align: center;
  text-decoration: none;
  text-transform: var(--font-button-text-transform);
  transition-duration: var(--transition-duration-long);
  transition-property: box-shadow, border-color, fill, color;
  transition-timing-function: var(--transition-timing-function);
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
}
.title--medium {
  font-size: var(--font-heading-size-medium);
  line-height: var(--font-heading-line-height);
}
.copy--medium {
  font-size: 1rem;
}

.type--accent {
  color: black;
  font-family: var(--font-accent-family);
  font-size: var(--font-accent-base-size);
  font-weight: var(--font-accent-weight);
  letter-spacing: var(--font-accent-letter-spacing);
  line-height: var(--font-accent-line-height);
  text-transform: var(--font-accent-text-transform);
}
@media screen and (max-width: 768px) {
  .content-box__buttons {
    flex-direction: row;
  }
  .banner__box {
    max-width: 75%;
    /* min-width: 25%; */
    padding: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .content-box__buttons {
    flex-direction: row;
  }
  .banner__box {
    max-width: 100%;
    /* min-width: 25%; */
    padding: 1rem;
  }
}
.content-box__buttons {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: var(--space-small);
  width: 100%;
}

.delete_Cursor {
  cursor: not-allowed;
}

.AboutusHeader {
  height: 100dvh;
}
@media screen and (max-width: 768px) {
  .AboutusHeader {
    height: 60dvh;
  }
}
select{
  outline: none;
}

@media (max-width:768px) {
  .checkoutPageContainer{
    flex-direction: column-reverse;
  }
  #currency{
    width: 30%;
  }
}


.dir-col{
  flex-direction: column !important;
}